@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
body {
	font-weight: normal;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: #33FFAF;
	background-color: white;
	background-size: cover;
}
h1{
	text-align: center;
	font-family:, sans-serif;
	color: #33FFAF;
	font-size: 50px;
}
h4{
	margin-top: 70px;
	margin-bottom: 12px;
}
#contact{
	color: red;
	font-weight: bold;
	font-size: 20px;
}
#slogan{
	font-style: italic;
	font-weight: bold;
	font-family: sans-serif;
	margin-top: 70px;
	margin-bottom: 12px;
}
nav ul li{
	display: inline-block;
	text-align: right;
	border-bottom: 4px solid black;
}
a{
	color: black;
}
#socialmedia{
	display: inline-block;
	color: black;
}

#nav1 {
	background-color: red;
	float: ;
}