@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
body {
	font-weight: normal;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: #33FFAF;
	background-color: white;
	background-size: cover;
}
h1{
	text-align: center;
	font-family:, sans-serif;
	color: #33FFAF;
	font-size: 50px;
}
h4{
	margin-top: 70px;
	margin-bottom: 12px;
}
#contact{
	color: red;
	font-weight: bold;
	font-size: 20px;
}
nav ul li{
	display: inline-block;
	text-align: right;
	border-bottom: 4px solid black;
	margin-left: 0px;

}

#socialmedia{
	display: inline-block;
	color: black;
}

.nav1 {
	float: right;
	background-color: black;
	width:100%;


}

.nav2 {
	float: right;
	background-color: black;
	width:100%;

}
a {
	color: white;
}

li {
	padding-right:10px;
}

.slogan{
	
}

.description {

}

.about {

}

article {
	background-color: #E89C6C;

}
header {
	background-color: #FFED74;
}
footer{
	background-color: #FF957E;
}
div{
	background-color: #FFE2B8;
}
