@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
body {
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color: white;
	background: url('../images/bike.jpg');
	background-size: cover;
}
a{
	color: red;
	font-weight: bold;
	font-size: 20px;
}
#slogan{
	font-style: italic;
	font-weight: bold;
	font-family: sans-serif;
}