@import url(https://fonts.googleapis.com/css?family=Open+Sans:800);
body {
	font-weight: normal;
	font-family: 'Open Sans', sans-serif;
	text-align: center;
	color: white;
	background: url('../images/citynight.jpg');
	background-size: cover;
}
h1{
	text-align: center;
	font-family:, sans-serif;
	color: white;
	font-size: 50px;
}
h4{
	margin-top: 70px;
	margin-bottom: 12px;
}
#contact{
	color: red;
	font-weight: bold;
	font-size: 20px;
}
#slogan{
	font-style: italic;
	font-weight: bold;
	font-family: sans-serif;
}
nav ul li{
	display: inline-block;
}
a{
	color: yellow;
}